<!-- Modal -->
<div
  class="modal fade alert"
  id="claimConfirmModal"
  tabindex="-1"
  aria-labelledby="claimConfirmModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h5 data-i18n="home_page.Confirm_Claim"></h5>
        <p class="text mb-3" data-i18n="predict_page.confirm_description1"></p>
        <p class="text" data-i18n="predict_page.confirm_description2"></p>
        <div class="action">
          <button type="button" class="btn btn-light w-100" data-bs-dismiss="modal" data-i18n="predict_page.Cancel"></button>
          <button type="button" class="btn btn-danger btn-confirm w-100"  data-bs-dismiss="modal"data-i18n="predict_page.Confirm"></button>
          <!-- <a href="/" class="btn btn-danger btn-confirm w-100" data-i18n="predict_page.Confirm"></a> -->
        </div>
      </div>
    </div>
  </div>
</div>
