<div class="container-fluid">

  <div class="rank" data-aos="fade-up">
    <div class="rank__number">
      <div>10</div>
      <span data-i18n="home_page.Rank"></span>
    </div>
    <div class="rank__total-point">
      <span data-i18n="home_page.Total_Point"></span> 20
    </div>
  </div>

  <div class="score" data-aos="fade-up">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" data-i18n="home_page.Ranking"></th>
            <th scope="col" data-i18n="home_page.Username"></th>
            <th scope="col" data-i18n="home_page.Total_Points"></th>
            <th scope="col" data-i18n="home_page.Prize"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-start">1</td>
            <td>chdoi***000</td>
            <td>30</td>
            <td>MYR30</td>
          </tr>
          <tr>
            <td class="text-start">2</td>
            <td>chdoi***000</td>
            <td>30</td>
            <td>MYR30</td>
          </tr>
          <tr>
            <td class="text-start">3</td>
            <td>chdoi***000</td>
            <td>30</td>
            <td>MYR30</td>
          </tr>
          <tr>
            <td class="text-start">4</td>
            <td>chdoi***000</td>
            <td>30</td>
            <td>MYR30</td>
          </tr>
          <tr>
            <td class="text-start">5</td>
            <td>chdoi***000</td>
            <td>30</td>
            <td>MYR30</td>
          </tr>
          <tr>
            <td class="text-start">6</td>
            <td>chdoi***000</td>
            <td>30</td>
            <td>MYR30</td>
          </tr>
          <tr>
            <td class="text-start">7</td>
            <td>chdoi***000</td>
            <td>30</td>
            <td>MYR30</td>
          </tr>
          <tr>
            <td class="text-start">8</td>
            <td>chdoi***000</td>
            <td>30</td>
            <td>MYR30</td>
          </tr>
          <tr>
            <td class="text-start">9</td>
            <td>chdoi***000</td>
            <td>30</td>
            <td>MYR30</td>
          </tr>
          <tr>
            <td class="text-start">10</td>
            <td>chdoi***000</td>
            <td>30</td>
            <td>MYR30</td>
          </tr>
          <tr>
            <td class="text-start">8</td>
            <td>chdoi***000</td>
            <td>30</td>
            <td>MYR30</td>
          </tr>
          <tr>
            <td class="text-start">9</td>
            <td>chdoi***000</td>
            <td>30</td>
            <td>MYR30</td>
          </tr>
          <tr>
            <td class="text-start">10</td>
            <td>chdoi***000</td>
            <td>30</td>
            <td>MYR30</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>