<div class="container-fluid">

  <div class="partner" data-aos="fade-up">
    <span data-i18n="home_page.Official_Partner_of"></span>
    <div>
      <img src="../assets/images/home/partner/0.svg" />
    </div>
    <!-- <img src="../assets/images/home/partner/2.svg" /> -->
    <!-- <img src="../assets/images/home/partner/3.svg" /> -->
  </div>

  <div class="correct" data-aos="fade-up">
    <div class="correct__item">
      <div data-i18n="home_page.4_out_of_4_correct"></div>
      <div>
        win <span>MYR <strong>30</strong></span>
      </div>
    </div>
    <div class="correct__item">
      <div data-i18n="home_page.3_out_of_4_correct"></div>
      <div>
        win <span>MYR <strong>8</strong></span>
      </div>
    </div>
  </div>

  <div class="match" data-aos="fade-up">
    <div class="match__item" data-aos="fade-up">
        <div class="match__item__time">
          <span data-i18n="home_page.Time_left"></span>
          4D : 5H : 45M : 55S
        </div>
        <div class="match__item__title">
          <span>Senegal  vs  Netherlands</span>
          <a href="/predict.html" class="btn btn-danger" data-i18n="home_page.Predict"></a>
        </div>
    </div>
    <div class="match__item" data-aos="fade-up">
        <div class="match__item__time">
          <span data-i18n="home_page.Time_left"></span>
          4D : 5H : 45M : 55S
        </div>
        <div class="match__item__title">
          <span>Senegal  vs  Netherlands</span>
          <a href="/predict.html" class="btn btn-danger disabled" data-i18n="home_page.Predicted"></a>
        </div>
    </div>
    <div class="match__item" data-aos="fade-up">
        <div class="match__item__time">
          <span data-i18n="home_page.Time_left"></span>
          4D : 5H : 45M : 55S
        </div>
        <div class="match__item__title">
          <span>Senegal  vs  Netherlands</span>
          <a href="/predict.html" class="btn btn-danger" data-i18n="home_page.Predict"></a>
        </div>
    </div>
    <div class="match__item" data-aos="fade-up">
        <div class="match__item__time">
          <span data-i18n="home_page.Time_left"></span>
          4D : 5H : 45M : 55S
        </div>
        <div class="match__item__title">
          <span>Senegal  vs  Netherlands</span>
          <a href="/predict.html" class="btn btn-danger" data-i18n="home_page.Predict"></a>
        </div>
    </div>
  </div>


  <div class="accordion" id="accordionHome" data-aos="fade-up">
    <div class="accordion-item" data-aos="fade-up">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHowToPlay" aria-expanded="false" aria-controls="collapseHowToPlay" data-i18n="home_page.How_To_Play"></button>
      </h2>
      <div id="collapseHowToPlay" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionHome">
        <div class="accordion-body" data-i18n="home_page.How_To_Play_content"></div>
      </div>
    </div>
    <div class="accordion-item" data-aos="fade-up">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTCs" aria-expanded="false" aria-controls="collapseTCs" data-i18n="home_page.T&Cs"></button>
      </h2>
      <div id="collapseTCs" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionHome">
        <div class="accordion-body" data-i18n="home_page.T&Cs_content"></div>
      </div>
    </div>
  </div>

</div>