<div class="container-fluid">

  <div class="your-predicted" data-aos="fade-up">
    <span data-i18n="home_page.Your_Predicted_Matches"></span>
  </div>

  <div class="matchs">

    <div class="matchs__items" data-aos="fade-up">
      <div class="matchs__items__top">
        <div class="matchs__items__top__info">
          <div class="matchs__items__top__info__currency success">Won MYR 30</div>
          <div class="matchs__items__top__info__time">Sat, 2nd Nov, 05:55pm</div>
        </div>
        
        <div class="matchs__items__top__vs">
          <span>Senegal  vs  Netherlands</span>
          <button class="btn btn-danger" data-i18n="home_page.Claim_Now" data-bs-toggle="modal" data-bs-target="#claimConfirmModal"></button>
        </div>
      </div>

      <div class="collapse" id="collapse1">
        <ul class="matchs-questions">
          <li class="matchs-questions-item">
            <img src="../assets/icons/check.svg" />
            <div class="matchs-questions-item__content">
              <div class="matchs-questions-item__content__question" data-i18n="home_page.Who_will_win_the_match"></div>
              <div class="matchs-questions-item__content__answer">Senegal</div>
            </div>
          </li>
          <li class="matchs-questions-item">
            <img src="../assets/icons/close.svg" />
            <div class="matchs-questions-item__content">
              <div class="matchs-questions-item__content__question" data-i18n="home_page.Number_of_goals"></div>
              <div class="matchs-questions-item__content__answer">2</div>
            </div>
          </li>
          <li class="matchs-questions-item">
            <img src="../assets/icons/check.svg" />
            <div class="matchs-questions-item__content">
              <div class="matchs-questions-item__content__question" data-i18n="home_page.Time_of_first_booking"></div>
              <div class="matchs-questions-item__content__answer">26 - 50</div>
            </div>
          </li>
          <li class="matchs-questions-item">
            <img src="../assets/icons/check.svg" />
            <div class="matchs-questions-item__content">
              <div class="matchs-questions-item__content__question" data-i18n="home_page.How_many_corners_in_a_match"></div>
              <div class="matchs-questions-item__content__answer">9 - 10</div>
            </div>
          </li>
        </ul>
      </div>

      <button class="btn btn-showhide" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
        <span class="show-answer" data-i18n="home_page.Show_Answer"></span>
        <span class="hide-answer" data-i18n="home_page.Hide_Answer"></span>
      </button>
    </div>

    <div class="matchs__items" data-aos="fade-up">
      <div class="matchs__items__top">
        <div class="matchs__items__top__info">
          <div class="matchs__items__top__info__currency success">Won MYR 30</div>
          <div class="matchs__items__top__info__time">Sat, 2nd Nov, 05:55pm</div>
        </div>
        
        <div class="matchs__items__top__vs">
          <span>Senegal  vs  Netherlands</span>
          <button class="btn btn-danger" data-i18n="home_page.Claimed" disabled></button>
        </div>
      </div>

      <div class="collapse" id="collapse2">
        <ul class="matchs-questions">
          <li class="matchs-questions-item">
            <img src="../assets/icons/check.svg" />
            <div class="matchs-questions-item__content">
              <div class="matchs-questions-item__content__question" data-i18n="home_page.Who_will_win_the_match"></div>
              <div class="matchs-questions-item__content__answer">Senegal</div>
            </div>
          </li>
          <li class="matchs-questions-item">
            <img src="../assets/icons/close.svg" />
            <div class="matchs-questions-item__content">
              <div class="matchs-questions-item__content__question" data-i18n="home_page.Number_of_goals"></div>
              <div class="matchs-questions-item__content__answer">2</div>
            </div>
          </li>
          <li class="matchs-questions-item">
            <img src="../assets/icons/check.svg" />
            <div class="matchs-questions-item__content">
              <div class="matchs-questions-item__content__question" data-i18n="home_page.Time_of_first_booking"></div>
              <div class="matchs-questions-item__content__answer">26 - 50</div>
            </div>
          </li>
          <li class="matchs-questions-item">
            <img src="../assets/icons/check.svg" />
            <div class="matchs-questions-item__content">
              <div class="matchs-questions-item__content__question" data-i18n="home_page.How_many_corners_in_a_match"></div>
              <div class="matchs-questions-item__content__answer">9 - 10</div>
            </div>
          </li>
        </ul>
      </div>

      <button class="btn btn-showhide" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse1">
        <span class="show-answer" data-i18n="home_page.Show_Answer"></span>
        <span class="hide-answer" data-i18n="home_page.Hide_Answer"></span>
      </button>
    </div>

    <div class="matchs__items" data-aos="fade-up">
      <div class="matchs__items__top">
        <div class="matchs__items__top__info">
          <div class="matchs__items__top__info__currency warning">Won MYR 0</div>
          <div class="matchs__items__top__info__time">Sat, 2nd Nov, 05:55pm</div>
        </div>
        
        <div class="matchs__items__top__vs">
          <span>Senegal  vs  Netherlands</span>
          <!-- <button class="btn btn-danger" data-i18n="home_page.Claimed" disabled></button> -->
        </div>
      </div>

      <div class="collapse" id="collapse3">
        <ul class="matchs-questions">
          <li class="matchs-questions-item">
            <img src="../assets/icons/check.svg" />
            <div class="matchs-questions-item__content">
              <div class="matchs-questions-item__content__question" data-i18n="home_page.Who_will_win_the_match"></div>
              <div class="matchs-questions-item__content__answer">Senegal</div>
            </div>
          </li>
          <li class="matchs-questions-item">
            <img src="../assets/icons/close.svg" />
            <div class="matchs-questions-item__content">
              <div class="matchs-questions-item__content__question" data-i18n="home_page.Number_of_goals"></div>
              <div class="matchs-questions-item__content__answer">2</div>
            </div>
          </li>
          <li class="matchs-questions-item">
            <img src="../assets/icons/check.svg" />
            <div class="matchs-questions-item__content">
              <div class="matchs-questions-item__content__question" data-i18n="home_page.Time_of_first_booking"></div>
              <div class="matchs-questions-item__content__answer">26 - 50</div>
            </div>
          </li>
          <li class="matchs-questions-item">
            <img src="../assets/icons/check.svg" />
            <div class="matchs-questions-item__content">
              <div class="matchs-questions-item__content__question" data-i18n="home_page.How_many_corners_in_a_match"></div>
              <div class="matchs-questions-item__content__answer">9 - 10</div>
            </div>
          </li>
        </ul>
      </div>

      <button class="btn btn-showhide" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse1">
        <span class="show-answer" data-i18n="home_page.Show_Answer"></span>
        <span class="hide-answer" data-i18n="home_page.Hide_Answer"></span>
      </button>
    </div>


    <div class="matchs__items" data-aos="fade-up">
      <div class="matchs__items__top">
        <div class="matchs__items__top__info">
          <div class="matchs__items__top__info__currency success">Won MYR 30</div>
          <div class="matchs__items__top__info__time">Sat, 2nd Nov, 05:55pm</div>
        </div>
        
        <div class="matchs__items__top__vs">
          <span>Senegal  vs  Netherlands</span>
          <button class="btn btn-danger" data-i18n="home_page.Claim_Now" data-bs-toggle="modal" data-bs-target="#claimConfirmModal"></button>
        </div>
      </div>

      <div class="collapse" id="collapse4">
        <ul class="matchs-questions">
          <li class="matchs-questions-item">
            <img src="../assets/icons/check.svg" />
            <div class="matchs-questions-item__content">
              <div class="matchs-questions-item__content__question" data-i18n="home_page.Who_will_win_the_match"></div>
              <div class="matchs-questions-item__content__answer">Senegal</div>
            </div>
          </li>
          <li class="matchs-questions-item">
            <img src="../assets/icons/close.svg" />
            <div class="matchs-questions-item__content">
              <div class="matchs-questions-item__content__question" data-i18n="home_page.Number_of_goals"></div>
              <div class="matchs-questions-item__content__answer">2</div>
            </div>
          </li>
          <li class="matchs-questions-item">
            <img src="../assets/icons/check.svg" />
            <div class="matchs-questions-item__content">
              <div class="matchs-questions-item__content__question" data-i18n="home_page.Time_of_first_booking"></div>
              <div class="matchs-questions-item__content__answer">26 - 50</div>
            </div>
          </li>
          <li class="matchs-questions-item">
            <img src="../assets/icons/check.svg" />
            <div class="matchs-questions-item__content">
              <div class="matchs-questions-item__content__question" data-i18n="home_page.How_many_corners_in_a_match"></div>
              <div class="matchs-questions-item__content__answer">9 - 10</div>
            </div>
          </li>
        </ul>
      </div>

      <button class="btn btn-showhide" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse1">
        <span class="show-answer" data-i18n="home_page.Show_Answer"></span>
        <span class="hide-answer" data-i18n="home_page.Hide_Answer"></span>
      </button>
    </div>

    <div class="matchs__items" data-aos="fade-up">
      <div class="matchs__items__top">
        <div class="matchs__items__top__info">
          <div class="matchs__items__top__info__currency warning">Won MYR 0</div>
          <div class="matchs__items__top__info__time">Sat, 2nd Nov, 05:55pm</div>
        </div>
        
        <div class="matchs__items__top__vs">
          <span>Senegal  vs  Netherlands</span>
          <!-- <button class="btn btn-danger" data-i18n="home_page.Claimed" disabled></button> -->
        </div>
      </div>

      <div class="collapse" id="collapse5">
        <ul class="matchs-questions">
          <li class="matchs-questions-item">
            <img src="../assets/icons/check.svg" />
            <div class="matchs-questions-item__content">
              <div class="matchs-questions-item__content__question" data-i18n="home_page.Who_will_win_the_match"></div>
              <div class="matchs-questions-item__content__answer">Senegal</div>
            </div>
          </li>
          <li class="matchs-questions-item">
            <img src="../assets/icons/close.svg" />
            <div class="matchs-questions-item__content">
              <div class="matchs-questions-item__content__question" data-i18n="home_page.Number_of_goals"></div>
              <div class="matchs-questions-item__content__answer">2</div>
            </div>
          </li>
          <li class="matchs-questions-item">
            <img src="../assets/icons/check.svg" />
            <div class="matchs-questions-item__content">
              <div class="matchs-questions-item__content__question" data-i18n="home_page.Time_of_first_booking"></div>
              <div class="matchs-questions-item__content__answer">26 - 50</div>
            </div>
          </li>
          <li class="matchs-questions-item">
            <img src="../assets/icons/check.svg" />
            <div class="matchs-questions-item__content">
              <div class="matchs-questions-item__content__question" data-i18n="home_page.How_many_corners_in_a_match"></div>
              <div class="matchs-questions-item__content__answer">9 - 10</div>
            </div>
          </li>
        </ul>
      </div>

      <button class="btn btn-showhide" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse1">
        <span class="show-answer" data-i18n="home_page.Show_Answer"></span>
        <span class="hide-answer" data-i18n="home_page.Hide_Answer"></span>
      </button>
    </div>

  </div>

  <div class="show-more" data-aos="fade-up">
    <button class="btn btn-danger" data-i18n="home_page.Show_More"></button>
  </div>

</div>