<!-- Modal -->
<div
  class="modal fade alert"
  id="outOfTicketsModal"
  tabindex="-1"
  aria-labelledby="outOfTicketsModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content pb-2">
      <div class="modal-body text-center">
        <h5 data-i18n="Out_of_Tickets"></h5>
        <p class="text mb-3" data-i18n="0_ticket_found"></p>
        <p class="text" data-i18n="Deposit_and_get_a_ticket_now_to_start_your_game"></p>
        <div class="action">
          <button type="button" class="btn btn-light w-100" data-bs-dismiss="modal" data-i18n="predict_page.Cancel"></button>
          <!-- <button type="button" class="btn btn-danger btn-confirm w-100" data-i18n="predict_page.Confirm"></button> -->
          <a href="/" class="btn btn-danger btn-confirm w-100" data-i18n="Deposit_Now"></a>
        </div>
        <div class="mt-2">
          <a href="/" class="btn btn-link w-100 text-white" data-i18n="Login_Register"></a>
        </div>
      </div>
    </div>
  </div>
</div>
